/node_modules
/vendor
/public/build
/public/hot
/storage/*.key

.env
.env.backup
.env.production
.env.local
.env.*.local

.DS_Store
Thumbs.db

*.log
npm-debug.log*
yarn-error.log

storage/logs/*
!storage/logs/.gitkeep
bootstrap/cache/*
!bootstrap/cache/.gitkeep

.phpunit.result.cache
.phpunit.cache

auth.json
Homestead.json
Homestead.yaml
*.md

.idea
.vscode
.fleet
*.swp
*.swo
*~
.composer
